.loginWrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f8f9;
}

.loginParentDiv {
  background: white;
  width: 360px;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.loginParentDiv img {
  margin-bottom: 1.5rem;
}

.loginParentDiv form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.loginParentDiv label {
  text-align: left;
  font-size: 14px;
  color: #333;
  font-weight: 500;
}

.loginParentDiv .input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: border-color 0.2s;
}

.loginParentDiv .input:focus {
  border-color: #002f34;
  outline: none;
}

.loginParentDiv button {
  background-color: #002f34;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.loginParentDiv button:hover {
  background-color: white;
  color: #002f34;
  border: 2px solid #002f34;
}

.signupText {
    color:black;
  margin-top: 1rem;
  font-size: 14px;
}

.signupText a {
  color: #002f34;
  text-decoration: none;
  font-weight: 600;
}
.signupText a:hover {
  text-decoration: underline;
}

.error {
  display: flex;
  color: #d93025;
  font-size: 12px;
  margin-top: -10px;
  justify-content: left;
}